

:root {
  --transition: all 0.8s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: futura, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: black;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  text-align: center;
  color: white;

}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

/*
=============== 
Home
===============
*/

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    top: 20px;
    left: 10px;
    font-size: 2rem;
    background: black;
    border-style: transparent;
    transition: var(--transition);
    cursor: pointer;
    height: 100%;
    width: 70px;
    z-index: 999;
    border-style: solid;
    border-color: black;
}

.sidebar-toggle {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: white;
  transition: var(--transition);
  border-radius: 100%;
  width: 65px;
  height: 65px;
}

.sidebar-toggle:hover {
  background-color: rgba(136, 136, 136, 0.28) ;
  color: white;
  cursor: pointer;
  border-radius: 100%;
  width: 65px;
  height: 65px;
}

.navbar1 {
  justify-content: flex-start;
}
.navbar2 {
  writing-mode: vertical-lr;
  text-orientation:upright;
  padding-top: 310px;
  padding-left: 10px;
  visibility: visible;
}
.navbar3 {
  visibility: hidden;
}

.btn:hover {
  color: var(--clr-black);
  background: transparent;
}

.close-btn:hover {
  color: var(--clr-red-light);
}

.links li {
  position: relative;
  margin-top: 50px;
}

.links li a {
  display: grid;
  justify-content: center;
  height: 15px;
  margin-top: 50px;
  font-size: 1.8rem;
  color: grey;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, font-size 0.2s ease-in-out, color 0.3s ease-in-out;
}

.links li a:hover {
  font-size: 2rem;
}

.links-visible li a {
  opacity: 1;
  font-size: 1.8rem;
  color: white;
}

.links li:nth-child(1) a {
  transition-delay: 0.3s;
  /* Adjust the delay for the first link */
}

.links li:nth-child(2) a {
  transition-delay: 0.4s;
  /* Adjust the delay for the second link */
}

.links li:nth-child(3) a {
  transition-delay: 0.5s;
  /* Adjust the delay for the third link */
}

.links li:nth-child(4) a {
  transition-delay: 0.6s;
  /* Adjust the delay for the fourth link */
}

.links li:nth-child(5) a {
  transition-delay: 0.7s;
  /* Adjust the delay for the fifth link */
}

.links li:nth-child(6) a {
  transition-delay: 0.8s;
  /* Adjust the delay for the sixth link */
}

.social-icons {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.social-icons a {
  font-size: 2.5rem;
  margin: 0 0.5rem;
  color: white;
  transition: var(--transition);
}

.social-icons a:hover {
  color: var(--clr-primary-1);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: row;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
  justify-content: center;
}

.show-sidebar {
  transform: translate(0);
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 80px;
  padding-left: 70px
}

.hc {
  text-align: center;
  max-width: 80%;
  max-height: 80%;
  object-fit: fill;
}

/* Phone Screen CSS */

@media screen and (min-width: 760px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 760px) {
  .navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    background-color: black;
    justify-content: flex-start;
    border-style: solid;
    border-color: black;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: auto;
  }
  .navbar2 {
    visibility: hidden;
    padding-top: 0px;
    padding-left: 0px;
  }
  .navbar3 {
    visibility: visible;
    padding-top: 15px;
    width: 75%;
  }
  .container {
    padding-left: 0px;
  }
  .hc {
    max-width: 93%;
    max-height: 820px;
  }

  .hc1 {
    width: 100%;
  }
  .sidebar {
    margin-top: 50px;
  }
}